* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./img/background.jpg");
  height: 100vh;
  width: 100vw;
  background: cover;
}

section {
  background-color: white;
  width: 30%;
  margin: 7vh auto;
  cursor: pointer;
  border-radius: 10px;
}
.method:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
}

.circles {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.dots {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}

.dots:first-child {
  background: rgba(0, 0, 0, 0.3);
}

.method {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
}

.m {
  font-weight: bold;
  flex-grow: 1;
}
.M {
  color: rgba(0, 0, 0, 0.3);
}

.method img {
  width: 3rem;
}

img.check {
  width: 1.5rem;
}

.next {
  background-color: #598bdd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
